table{
    width: 100%;
}
table th,table td {
    /* border:1px solid gray; */
    /* padding: 1.5vw 3vw; */
    /* text-align: center; */
}

table > :not(tbody) th{
    cursor: pointer;
}
/* table th, table td, */
table *:is(td,th){
    text-align: center;
}

table tbody th{
    text-align: end;
    font-size: clamp(0.65rem, calc(0.5rem + 1vw), 1.7rem);
}

table tbody td{
    font-size: clamp(0.7rem, calc(0.5rem + 1.5vw), 1.7rem);
    /* font-size: calc(0.9rem + 1.5vw); */
}

table thead th[active]{
    background-color: rgb(0, 128, 0, 0.5);
    position: relative;
}

table th[active="true"]::after{
    position: absolute;
    right: 5px;
    content: "▴";
}
table th[active="false"]::after{
    position: absolute;
    right: 5px;
    content: "▾";
}

table tbody td[active]{
    background-color: rgba(0, 191, 191, 0.35);
}