<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<% if (typeof AOS != 'undefined'){ %>
    <!-- AOS  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<%}%>
        
    <link rel="stylesheet" href="./css/main.css">
    <link rel="shortcut icon" href="./assets/img/perfil.jfif" type="image/png">
    <!-- Title para SEO -->
    <title>Portfolio Desarrollador Web - Paolo Sartori</title>
    <meta name="description" content="Soy una persona que le gusta buscar soluciones a problemas utilizando herramientas tecnológicas, y facilitar la vida de las personas de este modo. Apasionado de las Finanzas, Stocks, Crypto y DeFi. Estoy buscando nuevos desafíos hacia el camino de la Programación y el Software.">
    <meta name="keywords" content="Desarrollo Web, Portfolio, web, web3, Software, HTML, CSS, Inteligencia Artificial, Deep Learning, Machine Learning">
    <meta name="robots" content="index">
    <meta name="author" content="Paolo Sartori">
    <link rel="canonical" href="https://psartori01.000webhostapp.com/index.html">
    
    <!-- Open Graph - Social Netw -->
    <meta name="og:title" content="Portfolio Desarrollador Web - Paolo Sartori">
    <meta name="og:site_name" content="Portfolio Desarrollador Web - Paolo Sartori">
    <meta name="og:type" content="website">
    <meta name="og:description" content="Soy una persona que le gusta buscar soluciones a problemas utilizando herramientas tecnológicas, y facilitar la vida de las personas de este modo. Apasionado de las Finanzas, Stocks, Crypto y DeFi. Estoy buscando nuevos desafíos hacia el camino de la Programación y el Software.">
    <meta name="og:image" content="./assets/img/imagenPerfil.jfif">
    <meta name="og:url" content="./index.html">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Portfolio Desarrollador Web - Paolo Sartori">
    <meta name="twitter:image:src" content="./assets/img/perfil.jfif">
    <meta name="twitter:domain" content="https://psartori01.000webhostapp.com/index.html">
    
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap" rel="stylesheet">

</head>

<body>
    <header id="headerId">
        <a href="./index.html">
            <h2>Paolo Sartori</h2>
        </a>
        <nav>
            <input type="checkbox" name="hamburger_chk" id="hamburger_chk">
            <label for="hamburger_chk" class="lbl_chk">
                <hr>
                <hr>
                <hr>
            </label>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./proyectos.html">Proyectos</a></li>
                <li><a href="./formulario.html">Contacto</a></li>
            </ul>
        </nav>
    </header>